<head>/
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/screen.css">

</head>

<body>
<div id="wrap">

	<a name="top"></a>

	<!-- header -->
	<div id="header">

		<h1 id="logo-text"><a href="index.html" title="">TUTTO SCACCHI</a></h1>
		<p id="intro">Il mondo degli scacchi a portata di click</p>

		<!-- navigation -->
		<div  id="nav">
			<ul>
				<li id="current"><a href="index.html">Home</a></li>
				<li><a href="calendario.pdf" target="blank" download=calendario.pdf>DOWNLOAD-PROSSIMI-TORNEI</a></li>
        <li><a href="newsletter.html" target="blank">NEWSLETTER</a></li>
				</ul>
		</div>
  </div>

  <h1 align="center" style="color:white">CIS 2020 - stagione sportiva annullata</h1>
    <p align=center>
            <img src="Images/FSI.jpg" align="center" width="400" height="300">
          </p>

       <p align=center style="color:white">
         <br>

          Su richiesta della Direzione Nazionale CIS il Presidente, tramite decisione d’urgenza,<br>
          sentito il parere del Consiglio federale ha disposto l’annullamento<br>
          della stagione sportiva 2020 del Campionato Italiano a Squadre (CIS).<br><br>
          Il provvedimento interessa tutte le serie a livello nazionale, dalla Master alla Promozione,<br>
          compresa la finale nazionale CISF. Con l’evidente necessità di annullare anche le finali<br>
          Master-CISF previste dal 20 aprile per il probabile prolungamento delle ordinanze<br>
          restrittive e l’impossibilità dei tanti stranieri coinvolti di raggiungere l’Italia<br>
          vengono a mancare i presupposti per salvare la stagione sportiva del CIS. E’ parere<br>
          della Direzione CIS, condiviso dal Consiglio Federale e dal Presidente, che ricollocare<br>
          raggruppamenti CIS e finali Master-CISF dopo l’estate sarebbe difficilmente realizzabile.<br>
          Il calendario da settembre potrebbe risultare fortemente congestionato per il recupero delle<br>
          tante manifestazioni che verranno cancellate tra marzo e giugno. Alle manifestazioni nazionali<br>
          si devono aggiungere anche quelle internazionali gestite da ECU e FIDE. La gravità della crisi<br>
          e il clima di grande incertezza rendono impossibile fare programmi e ricollocare il campionato<br>
          italiano a squadre con ragionevole certezza e congruo preavviso. Il Direttore CIS ci informa che<br>
          molti capitani e organizzatori interpellati condividono la scelta. Alcune sedi disponibili<br>
          a marzo a ospitare i raggruppamenti non lo sarebbero a settembre-ottobre. In molti casi<br>
          un recupero del CIS sarebbe percepito come un ostacolo o un disagio, in un momento in cui<br>
          molti tesserati avranno altre preoccupazioni e impegni lavorativi dopo i difficili mesi<br>
          appena trascorsi. Verrebbero quindi a mancare i presupposti dello stesso campionato a squadre,<br>
          che i tesserati hanno sempre onorato con entusiasmo. Alle criticità evidenziate, nel caso di un<br>
          ricollocamento del CIS dopo l’estate, si andrebbero ad aggiungere defezioni di numerose squadre<br>
          già anticipate (in particolare dalle regioni più colpite dall’emergenza), che andrebbero ad alterare<br>
          gli equilibri sportivi del campionato stesso. Questi ultimi aspetti in particolare hanno spinto<br>
          la Direzione CIS a prendere questa difficile decisione.<br>
          Tutti i diritti sportivi maturati nel 2020 verranno pertanto congelati e portati alla stagione 2021.<br>
          La composizione dei gironi, dei calendari e le sedi già assegnate rimarranno invariati.<br>
          Nei prossimi mesi seguiranno maggiori dettagli e i regolamenti attuativi del 2021 chiariranno<br>
          le modalità organizzative della nuova stagione sportiva. Per qualunque richiesta di chiarimento<br>
          la Direzione CIS è a disposizione dei tesserati.</p>

          <div id="footer-bottom">
            <p align=center style="color:white">
              <a href="index.html">Home</a> |
                 <a href="#top">Top</a>
            </p>
          </div>

  </body>
