<head>/
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/screen.css">

</head>

<body>
<div id="wrap">

	<a name="top"></a>

	<!-- header -->
	<div id="header">

		<h1 id="logo-text"><a href="index.html" title="">TUTTO SCACCHI</a></h1>
		<p id="intro">Il mondo degli scacchi a portata di click</p>

		<!-- navigation -->
		<div  id="nav">
			<ul>
				<li id="current"><a href="index.html">Home</a></li>
				<li><a href="calendario.pdf" target="blank" download=calendario.pdf>DOWNLOAD-PROSSIMI-TORNEI</a></li>
        <li><a href="newsletter.html" target="blank">NEWSLETTER</a></li>
				</ul>
		</div>
  </div>

  <h1 align="center" style="color:white">Carlsen dichiara guerra al Norway!</h1>
    <p align=center>
            <img src="Images/Carlsen_Norway.jpg" align="center" width="600" height="450">
          </p>

       <p align=center style="color:white">
         <br>

         Magnus Carlsen ha fondato un club di scacchi che offre l’iscrizione gratuita ai primi 1.000 membri,<br>
         con il Campione del Mondo che pagherà personalmente la tassa federale (circa 60.000 dollari).<br>
         Lo scopo dichiarato è quello di  far crescere gli scacchi norvegesi ma alcuni sospettano che Magnus<br>
         voglia presentarsi alla riunione del 7 luglio della Federazione norvegese con 40 delegati (in Norvegia<br>
         i club hanno diritto ad un delegato/voto ogni 25 iscritti. Gli iscritti alla Federazione sono circa 3.500)<br>
         che, secondo Tarjei J. Svensen (si veda link in fondo all’articolo), renderebbero molto probabile un voto<br>
         favorevole all’accordo di sponsorizzazione da 5,9 milioni di dollari con Malta Kindred Group,<br>
         colosso del gioco d’azzardo che possiede marchi come Unibet e Maria Casino<br><br>
         Questo tipo di accordo sarebbe piuttosto controverso perché in Norvegia è vietata qualsiasi<br>
         promozione di società di gioco d’azzardo straniere. L’accordo quinquennale proposto dalla casa<br>
         di gioco con sede a Malta avrebbe, secondo alcuni, lo scopo di assicurarsi il supporto della<br>
         federazione scacchistica per fare pressione sul governo per un cambiamento della legge attuale.<br>
         Ovviamente questa ricostruzione ci sembra verosimile solo perché, grazie a Carlsen,<br>
         gli scacchi hanno raggiunto una popolarità impressionante in Norvegia, con le dirette dei Match Mondiali<br>
         trasmessi integralmente sulla TV di Stato che hanno superato il 50% di “share”!<br><br>
         Nel frattempo il regolatore del gioco d’azzardo norvegese Lottstift ha avvertito<br>
         la Federazione di prendere in considerazione le conseguenze che potrebbero derivare dal collaborare<br>
         con una compagnia che, si crede, possa operare illegalmente nel paese.<br>
         Contro questo accordo si sono subito schierati anche gli organizzatori dell’Altibox Norway Chess,<br>
         con i politici di Stavanger che hanno dichiarato l’intenzione di ritirare i finanziamenti (580.000 dollari)<br>
         per l’offerta di organizzare il Match Mondiale 2020 nel caso l’accordo fosse perfezionato.<br>
         La federazione scacchista ha risposto ritirandosi come organizzatore formale.<br><br>
         La reazione di Carlsen è stata però scioccante! In un post su Facebook (in norvegese), Magnus ha lasciato<br>
         intendere che è pronto a ritirarsi dal ciclo del campionato del mondo se Stavanger si aggiudicherà la gara per<br>
         il Match Mondiale. Pur dichiarando che “l’accordo con Kindred non influisce sulla possibilità di un campionato<br>
         del mondo a Stavanger 2020 con il sottoscritto“, Magnus ha aggiunto che il match “può essere organizzato<br>
         bene anche senza di me“. Carlsen è stato sin dall’inizio contrario a Stavanger come possibile<br>
         città organizzatrice del suo prossimo Match Mondiale, un punto di vista che ha espresso<br>
         sia agli organizzatori che alla sua federazione.<br>
         Sinora però né lui né il suo entourage hanno spiegato pubblicamente il motivo.<br>
         Il Campione del Mondo ha poi aggiunto che, se l’accordo con Kindred Group fosse legale,<br>
         si dovrebbe votare a favore e che lui non riceverà nulla da questo contratto che, secondo molti,<br>
         aiuterebbe lo sviluppo della Federazione che non ha ancora concluso accordi di sponsorizzazione consistenti.<br><br>
         Al momento la Federazione norvegese di scacchi è stata chiamata a svolgere un’ulteriore analisi<br>
         legale dell’accordo e il suo presidente, Morten L. Madsen, ha detto che verificherà se il nuovo club<br>
         di Carlsen è da considerarsi legale.<br><br>
         Quel che a noi osservatori italiani interessa non sono tento le beghe nazionali di Carlsen,<br>
         della Federazione Norvegese, della casa di gioco maltese, degli organizzatori del Norway Chess<br>
         e dei politici norvegesi, ma il fatto che Magnus abbia ventilato la possibilità di rinunciare<br>
         a difendere il Titolo Mondiale 2020, anche se l’ipotesi ci appare altamente improbabile come ci suggerisce,<br>
         per restare in tema, una casa di gioco che quota solo a 1,45 una sua vittoria del Match del 2020.<br>
         (La vittoria nel Mondiale 2018 contro Caruana era quotata 1,50).<br><br>
         In attesa dell’evolversi degli eventi vale però la pena di aggiungere, come curiosità,<br>
         che non si tratta del primo “assalto” di Unibet alla legislazione norvegese attraverso gli scacchi.<br>
         Nel 2014 a Stavanger fu infatti organizzato il No Logo Norway Chess proprio perché<br>
         lo sponsor principale era la casa di gioco con sede a Malta.<br>
         Il “No Logo” nel titolo dell’evento era dovuto, ovviamente, al già citato divieto di pubblicità<br>
         vigente in Norvegia per le società di scommesse straniere.</p>

          <div id="footer-bottom">
            <p align=center style="color:white">
              <a href="index.html">Home</a> |
                 <a href="#top">Top</a>
            </p>
          </div>

  </body>
