<head>/
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/screen.css">

</head>

<body>
<div id="wrap">

	<a name="top"></a>

	<!-- header -->
	<div id="header">

		<h1 id="logo-text"><a href="index.html" title="">TUTTO SCACCHI</a></h1>
		<p id="intro">Il mondo degli scacchi a portata di click</p>

		<!-- navigation -->
		<div  id="nav">
			<ul>
				<li id="current"><a href="index.html">Home</a></li>
				<li><a href="calendario.pdf" target="blank" download=calendario.pdf>DOWNLOAD-PROSSIMI-TORNEI</a></li>
        <li><a href="newsletter.html" target="blank">NEWSLETTER</a></li>
				</ul>
		</div>
  </div>

  <h1 align="center" style="color:white">Karjakin e Carlsen sulla riforma del Mondiale</h1>
    <p align=center>
            <img src="Images/karjakin_carlsen.jpg" align="center" width="600" height="450">
          </p>

       <p align=center style="color:white">
         <br>

         Rispondendo ad un tweet di Susan Polgar, Sergey Karjakin propone la seguente riforma<br>
         del Match Mondiale, che a suo avviso porrebbe fine alle patte veloci nelle sfide per la Corona Mondiale.<br><br>

         – Numero dispari di partite (11 o 13)<br>
         – Il Campione del Mondo decide se avere un bianco un più od uno di meno<br>
         – in caso di pareggio, chi ha avuto più neri viene dichiarato vincitore del Match e Campione del Mondo<br><br>

         Indipendentemente dal fatto che la domanda di Susan Polgar ci sembra posta in maniera poco convincente,<br>
         l’idea di Karjain, ci sembra molto interessante e, vista l’autorevolezza del proponente,<br>
         potrebbe entrare nell’Agenda di discussione del nuovo Presidente della FIDE,<br>
         “taggato” nel tweet di Karjakin. La proposta dello Sfidante del Mondiale 2016 si inserisce<br>
         in un dibattito che ha preso piede anche grazie a Carlsen e Caruana che, durante il Mondiale 2018,<br>
         si sono detti favorevoli ad un cambio di formato che porti il numero delle partite classiche dalle attuali 12 a 16/18.</p>

        <p align=center>
              <img src="Images/tweet.jpg" align="center" width="300" height="287">
           </p>

        <p align=center style="color:white">
          <br>

          In un’intervista rilasciata al The Guardian, Magnus Carlsen ha dichiarato che<br>
          sarebbe bene includere più partite rapid e blitz nel Campionato del Mondo perché in una certa<br>
          misura sono una forma più pura di scacchi, in quanto la preparazione gioca un ruolo minore.<br>
          Invece (nelle rapid e nelle blitz) si tratta più di calcolo rapido, intuizione e istinto,<br>
          tutte cose che il Campione del  Mondo pensa siano importanti negli scacchi.</p>

          <div id="footer-bottom">
            <p align=center style="color:white">
              <a href="index.html">Home</a> |
                 <a href="#top">Top</a>
            </p>
          </div>

  </body>
