<head>/
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/screen.css">

</head>

<body>
<div id="wrap">

	<a name="top"></a>

	<!-- header -->
	<div id="header">

		<h1 id="logo-text"><a href="index.html" title="">TUTTO SCACCHI</a></h1>
		<p id="intro">Il mondo degli scacchi a portata di click</p>

		<!-- navigation -->
		<div  id="nav">
			<ul>
				<li id="current"><a href="index.html">Home</a></li>
				<li><a href="calendario.pdf" target="blank" download=calendario.pdf>DOWNLOAD-PROSSIMI-TORNEI</a></li>
        <li><a href="newsletter.html" target="blank">NEWSLETTER</a></li>
				</ul>
		</div>
  </div>

  <h1 align="center" style="color:white">Navigando a vista</h1>
    <p align=center>
            <img src="Images/navigando.jpg" align="center" width="512" height="382">
          </p>

       <p align=center style="color:white">
         <br>

         Mentre i singoli Paesi stanno pianificando, chi a passo più celere e chi meno,<br>
         la ripartenza dopo il lockdown (meglio nota come “fase 2”), il mondo degli scacchi,<br>
         dopo un periodo di stallo e smarrimento iniziale, si è già rimesso in moto.<br>
         E se tutti i tornei a tavolino sono stati cancellati o rinviati, quelli online<br>
         si sono invece moltiplicati a dismisura: una soluzione che non si può certo definire<br>
         improvvisata o di fortuna, visto che era già servita su un piatto d’argento.<br>
         Così, mentre alcuni eventi iniziati mesi fa, come la Banter Blitz Cup,<br>
         hanno semplicemente visto crescere, per le finali, il pubblico di cyber-appassionati,<br>
         altri sono stati organizzati con una celerità che fino a febbraio, prima dell’emergenza,<br>
         sembrava utopia. Ci riferiamo, ad esempio, al “Magnus Carlsen Invitational”,<br>
         che da metà aprile a inizio maggio ha visto impegnati il campione del mondo e altri sette big;<br>
         oppure alla Coppa delle Nazioni, dove, con la memoria che è tornata inevitabilmente alla sfida<br>
         URSS-Resto del mondo di 50 anni fa, sei rappresentative si sono date battaglia nella prima decade di maggio.<br>
         I professionisti, insomma, hanno potuto continuare in qualche modo a fare il loro lavoro.<br><br>

         Ma… c’è un grosso “ma”. La quasi totalità degli eventi non consente certo<br>
         di assistere a partite da antologia: sarebbe difficile considerata la cadenza di gioco,<br>
         blitz o al massimo rapid. Le cadenze veloci naturalmente vanno benissimo per il pubblico,<br>
         soprattutto se le partite sono trasmesse con commenti in diretta, ma snaturano,<br>
         in buona parte, l’essenza degli scacchi, lo sport della mente per eccellenza.<br>
         E non è questione di purismo: un gioco di riflessione che richieda soprattutto<br>
         colpo d’occhio e rapidità semplicemente non si può considerare più (solo) “di riflessione”.<br><br>

         Un primo esperimento di torneo online a cadenza classica lo hanno fatto gli organizzatori<br>
         dell’open “Sunway Sitges”, che, in attesa dell’evento a tavolino, in calendario a dicembre<br>
         ne hanno proposto a fine aprile uno sul server di Chess.com. Il controllo del tempo era<br>
         di 90 minuti a testa, con un incremento di 30 secondi per mossa. Per prevenire il cheating,<br>
         i partecipanti erano tenuti ad avere una webcam e la possibilità di abilitare l’audio;<br>
         inoltre, dovevano avere un account Skype attivo per comunicare con gli arbitri o essere contattati.<br>
         Se questo è ciò che di meglio potremo sperare di vedere nei prossimi mesi,<br>
         anche in fatto di scacchi di alto livello, non è ancora dato saperlo, dato che la Fide,<br>
         come il resto delle federazioni sportive (e di tutto il mondo), è costretta a navigare a vista.<br>
         Nel caso, toccherà accontentarsi. E sarà comunque meglio di niente.</p>

          <div id="footer-bottom">
            <p align=center style="color:white">
              <a href="index.html">Home</a> |
                 <a href="#top">Top</a>
            </p>
          </div>

  </body>
