<head>/
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/screen.css">

</head>

<body>
<div id="wrap">

	<a name="top"></a>

	<!-- header -->
	<div id="header">

		<h1 id="logo-text"><a href="index.html" title="">TUTTO SCACCHI</a></h1>
		<p id="intro">Il mondo degli scacchi a portata di click</p>

		<!-- navigation -->
		<div  id="nav">
			<ul>
				<li id="current"><a href="index.html">Home</a></li>
				<li><a href="calendario.pdf" target="blank" download=calendario.pdf>DOWNLOAD-PROSSIMI-TORNEI</a></li>
        <li><a href="newsletter.html" target="blank">NEWSLETTER</a></li>
				</ul>
		</div>
  </div>

       <p align=center style="color:white">
         <form action="newsletter.html" method="post">
   				<label for="lname" style="color:white">Iscriviti alla newsletter</label>
   				<input style="color:black" type="text" id="email" name="email" placeholder="Scrivi il indirizzo email">

   				<input type="submit" value="Submit">

   			  </form>
          </p>

          <div id="footer-bottom">
            <p align=center style="color:white">
              <a href="index.html">Home</a> |
                 <a href="#top">Top</a>
            </p>
          </div>

  </body>
